.category {

  &:first-child {
    margin-top: 3.5vh;
  }

  h2 {
    //margin-bottom: 5px;
    margin-bottom: 1vh;
    font-size: 3.5vh;
    font-weight: normal;

    i {
      //font-size: 30px;
      font-size: 4.2vh;
      opacity: .8;
    }

    img.icon {
      height: 4vh;
    }
  }

  .content {
    .description {
      margin-top: 3.5vh;
      font-weight: normal;
      font-size: 1.6vh;
      width: 70%;
    }
  }
}
