<div class="category" >
  <h2>
    <i [classList]="'fas ' + category.iconClass" *ngIf="category.iconClass && !category.iconPath"></i>
    <img class="icon" *ngIf="category.iconPath" [src]="category.iconPath">
    {{category.name}}
  </h2>
  <div class="content">
    <app-article *ngFor="let article of articles | async" [article]="article"></app-article>
    <div class="description" *ngIf="category?.description">
      <span>{{category.description}}</span>
    </div>
  </div>
</div>
