.article {
  line-height: 1.2;
  font-size: 1.8vh;
  font-family: 'ridley-grotesk-light', serif;

  &.with-options {
    //margin-bottom: 10px;
    margin-bottom: 1.39vh;

    .name {
      font-sze: 1.9vh;
      font-family: 'ridley-grotesk-bold', serif;
    }
  }

  /*.name {
    //float: left;
    width: 75%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }*/

  .price {
    float: right;
  }

  .description {
    float: right;
    margin-right: 3rem;
  }

  .options {
    //font-size: 13px;
    font-size: 1.5vh;
    width: 65%;
  }
}
