<div class="article" [ngClass]="{'with-options': article.description && article.descStyle == 'under'}">
  <span class="name">{{article.name}}</span>
  <span class="price">{{article.price | currency:'EUR'}}</span>
  <span *ngIf="article.description && article.descStyle == 'right'" class="description">{{article.description}}</span>
  <div class="options" *ngIf="article.description && article.descStyle == 'under'">{{article.description}}</div>
</div>
