<div class="background" [style.height]="backgroundHeight" [style.backgroundImage]="'url(' + backgroundImage + ')'">
  <div class="header" [style.backgroundImage]="'url(' + headerImage + ')'">
    <div class="headline">
      <h1>Zur Ampel</h1>
    </div>
    <img class="logo" [src]="sinceLogo">
  </div>
  <div>
    <div [class]="promotion.position + ' promotion'"
         ngClass.xs="fxClass-xs"
         *ngFor="let promotion of promotions | async">
      <div class="content" [style.fontSize]="getPromotionFontSize(promotion.text) + 'vh'">
        <span>{{promotion.text}}</span>
      </div>
    </div>
  </div>
  <div class="content">
    <table>
      <tr>
        <th *ngFor="let column of columns | async; let first = first; let last = last;"
            [ngClass]="{'padding--top': promLength > 0 && paddingTop(first, last)}">
          <app-column [column]="column" ></app-column>
        </th>
      </tr>
    </table>
  </div>
</div>
