.background {
  //background-image: url("../assets/background_gray_stone.jpg");
  background-repeat: repeat-y;
  background-size: 100% 100%;
  height: 100%;

  .header {
    //position: fixed;
    height: 20%;
    width: 100%;
    //background-image: url("../assets/Titel.png");
    background-size: 100%;
    box-shadow: 0px -5px 10px 10px black;
    position: relative;

    .headline {
      width: 50%;
      margin: auto;
      text-align: center;
      position: absolute;
      transform: translate(-50%, -50%);
      left: 50%;
      top: 50%;

      h1 {
        font-size: 10.6vh;
        font-weight: normal;
        text-shadow: 5px 5px 15px black;
        margin-top: 5.7vh;
      }
    }

    .logo {
      position: absolute;
      width: 8%;
      left: 46%;
      bottom: 8%;
    }
  }

  .promotion {
    background-color: black;
    box-shadow: 5px 5px 20px 0px black;
    border-radius: 50%;
    position: fixed;
    width: 32vh;
    height: 32vh;
    padding: 2.4vh;
    color: white;
    text-align: center;
    display: table;

    &.topLeft {
      top: 8%;
      left: 8%;
    }

    &.topRight {
      top: 8%;
      right: 8%;
    }

    &.bottomLeft {
      bottom: 4%;
      left: 8%;
    }

    &.bottomRight {
      bottom: 4%;
      right: 8%;
    }

    .content {
      position: relative;
      font-size: 4vh;
      transform: translate(-50%, -50%) rotate(-7deg);
      display: table-cell;
      vertical-align: middle;
      left: 50%;
      top: 50%;
    }
  }

  .content {
    height: 80%;

    table {
      height: 100%;
      width: 100%;

      tr {
        vertical-align: top;
        text-align: left;

        th {
          padding-left: 3.5%;
          padding-right: 3.5%;
          width: 33.3%;

          &.padding--top {
            padding-top: 22vh;
          }

          &:first-child {
            padding-left: 7.5%;
          }

          &:last-child {
            padding-right: 7.5%;
          }


        }
      }
    }
  }
}
