/* You can add global styles to this file, and also import other style files */

html, body {
  margin: 0;
  overflow: hidden;
  height: 100%;
  font-family: 'average-sans', serif;
}

@font-face {
  font-family: 'average-sans';
  src: url("./assets/average-sans.regular.ttf") format('truetype');
}

@font-face {
  font-family: 'ridley-grotesk-light';
  src: url("./assets/RidleyGrotesk/Radomir Tinkov - RidleyGrotesk-Light.otf") format('truetype');
}

@font-face {
  font-family: 'ridley-grotesk-bold';
  src: url("./assets/RidleyGrotesk/Radomir Tinkov - RidleyGrotesk-Bold.otf") format('truetype');
}
